<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

   <servlet>
      <servlet-name>UploadFormHandler</servlet-name>
      <servlet-class>
         org.openhc.trowser.gwt.server.FileUploaderServlet
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>UploadFormHandler</servlet-name>
      <url-pattern>/UploadFormHandler</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>Service</servlet-name>
      <servlet-class>
         org.openhc.trowser.gwt.server.ServiceImpl
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Service</servlet-name>
      <url-pattern>/Service</url-pattern>
   </servlet-mapping>

</web-app>
